@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<hr/>



   <h2> What is Website Monitoring?</h2>
   <p>
       Website monitoring is the act of tracking the availability and performance of websites to minimize downtime, optimize performance and ensure smooth user experience. Maintaining website uptime is pivotal to any business and website application monitoring is a thus a serious challenge for most businesses. Applications Manager website application monitoring service enables businesses to keep up with the health, availability and performance stats of your websites and get notified before it's too late.
      
       <h2>Why do you need Website Monitoring Tools?</h2>
       Experts say that a response time of 3 seconds or lower is an indicator of ideal website performance. Any downtime could directly lead to loss of revenue and customer dissatisfaction which is why a real time website monitoring tool is absolutely essential to your business. Using dedicated website monitoring tools will guarantee maximum availability and performance, so your clients are engaged at all times.

       <h2>How does website monitoring work?</h2>
       Website monitoring tools measure response times of all critical transactions on your website and tracks down elements responsible for such delays to help you troubleshoot issues much faster before it affects end users. With the help of a comprehensive website monitoring tool like Applications Manager, you can:

       Monitor health & availability of a single webpage or an entire sequence of webpages.
       Use synthetic transaction monitoring to analyze end user experience with your website(s).
       Monitor critical page workflows, test application before launch and pinpoint problematic components.
       Track any unauthorized changes made to the content elements of your site.
       Measure web application performance from any part of the world.
   </p>
