@model project.Models.Pc

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Pc</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="IP" class="control-label"></label>
                <input asp-for="IP" class="form-control" />
                <span asp-validation-for="IP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adress_Mac" class="control-label"></label>
                <input asp-for="Adress_Mac" class="form-control" />
                <span asp-validation-for="Adress_Mac" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParcID" class="control-label"></label>
                <select asp-for="ParcID" class="form-control" asp-items="ViewBag.ParcID"></select>
                <span asp-validation-for="ParcID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AD" class="control-label"></label>
                <input asp-for="AD" class="form-control" />
                <span asp-validation-for="AD" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="submit" value="Submit" class="btn btn-primary btn-block" />
                </div>
                <div class="form-group col-md-6">
                    <a asp-action="Index" class="btn btn-secondary btn-block"><i class="fa fa-table"></i> Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
